:root {
  --checkMarkMargin: 10px;
  --checkMarkIconWidthAndHeight: 12px;
}

/* button ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.Completion-button {
  user-select: none;
  color: #6d6e6f;
  fill: #6d6e6f;
  background: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 6px;
  transition-duration: 0.2s;
  white-space: nowrap;
  transition-property: background, color, fill;
}

.Completion-button.active {
  background: rgba(55, 23, 23, 0.05);
  color: #1e1f21;
  fill: #1e1f21;
}

.Completion-button-hover:hover {
  background: rgba(55, 23, 23, 0.03);
  color: #1e1f21;
  fill: #1e1f21;
}

/* dropdown ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.Completion-button-dropdown {
  position: absolute;
  top: 43px;
  left: 0;
  padding: 4px 0;
  border-radius: 4px;
  background-color: white;
  color: #1e1f21;
  box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 500px;
  min-width: 185px;
  user-select: none;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.Completion-button-dropdown.active {
  opacity: 1;
  pointer-events: auto;
}

.Completion-button-dropdown-item {
  height: 36px;
  display: flex;
  align-items: center;
}

.Completion-button-dropdown > div:nth-child(2) {
  position: relative;
}

.Completion-button-dropdown-completed {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 0;
  border-radius: 4px;
  background-color: white;
  color: #1e1f21;
  box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 500px;
  min-width: 185px;
  user-select: none;
  cursor: pointer;
  pointer-events: none;
  transform: translateX(-100%);
  opacity: 0;
}

.Completion-button-dropdown-completed.position-right {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(calc(100% - 6px));
}

.Completion-button-dropdown-completed.position-left {
  opacity: 1;
  pointer-events: auto;
}

.Completion-button-dropdown-completed-item {
  height: 36px;
  display: flex;
  align-items: center;
  background-color: white;
}

.Completion-button-dropdown-completed-item:hover {
  background-color: rgba(55, 23, 23, 0.03);
}

.Completion-button-dropdown-completed > div > div ~ div {
  line-height: 18px;
  color: #6d6e6f;
  padding: 8px 12px 0
    calc(var(--checkMarkIconWidthAndHeight) + var(--checkMarkMargin) * 2);
  padding-bottom: 4px;
  white-space: nowrap;
  user-select: none;
  cursor: default;
}

.Completion-button-spacer {
  height: calc(var(--checkMarkIconWidthAndHeight) + var(--checkMarkMargin) * 2);
  width: calc(var(--checkMarkIconWidthAndHeight) + var(--checkMarkMargin) * 2);
}

/* svg ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
.Completion-button-miniCheckIcon {
  height: 12px;
  width: 12px;
}

.Completion-button-checkMarkIcon {
  margin: 0 var(--checkMarkMargin);
  width: var(--checkMarkIconWidthAndHeight);
  height: var(--checkMarkIconWidthAndHeight);
}

.Completion-button > div:first-child {
  display: flex;
  align-items: center;
}

.Completion-button-arrowRightIcon {
  width: 16px;
  height: 16px;
}

.Completion-button-arrowRightIcon {
  margin-left: auto;
  margin-right: 5px;
  fill: #1e1f21;
}
