.PageToolBar-list {
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  min-width: 700px;
}

.PageToolBar-list > div {
  width: 100%;
}

.PageToolBar-list-rightContainer > div {
  float: right;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.ThemeableButton-container {
  height: 56px;
  display: flex;
  align-items: center;
  margin-left: 4px;
  position: relative;
}

.ThemeableButton-button {
  user-select: none;
  color: #6d6e6f;
  fill: #6d6e6f;
  background: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 6px;
  transition-duration: 0.2s;
  white-space: nowrap;
  transition-property: background, color, fill;
}

.ThemeableButton-button:hover {
  background: rgba(55, 23, 23, 0.03);
  color: #1e1f21;
  fill: #1e1f21;
}

/* center svg logos */
.ThemeableButton-button > div:first-child {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
