:root {
  --dropdown-width: 480px;
  --search-title-height: 35px;
  --recent-items-height: 60px;
  --saved-searches-height: 40px;
}

.TopBarPageHeaderGlobalActions-dropdownContainer {
  z-index: 100;
  position: absolute;
  background: white;
  border: 1px solid #edeae9;
  border-radius: 5px;
  right: -3px;
  top: 30px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 0 0.5px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
  transition: height 0.15s ease-in-out;
}

.TopBarPageHeaderGlobalActions-dropdownContainer.active {
  opacity: 1;
  pointer-events: auto;
}

.TopBarPageHeaderGlobalActions-title {
  /* outline: 1px solid purple; */
  color: #6d6e6f;
  height: var(--search-title-height);
  padding: 5px 15px;
  display: flex;
  align-items: flex-end;
  user-select: none;
}

.TopBarPageHeaderGlobalActions-recentItemsContainer {
  /* outline: 1px solid green; */
  background: white;
  width: var(--dropdown-width);
  overflow: hidden;
  transform: translateY(calc(var(--search-title-height) * -1));
  transition: transform 0.15s ease-in-out;
}

.TopBarPageHeaderGlobalActions-recentItemsContainer.active {
  transform: translateY(0);
}

.TopBarPageHeaderGlobalActions-recentItems {
  /* outline: 1px solid blue; */
  height: var(--recent-items-height);
  background: white;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.TopBarPageHeaderGlobalActions-recentItems:hover {
  background: #fafafa;
}

.TopBarPageHeaderGlobalActions-recentItems > div:first-child {
  padding: 4px 5px;
}

.TopBarPageHeaderGlobalActions-recentItems > div:last-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.TopBarPageHeaderGlobalActions-recentItems > div > div {
  /* outline: 1px solid blue; */
  margin: 2px 0;
  display: flex;
}
.TopBarPageHeaderGlobalActions-recentItems > div > div:nth-child(2) {
  color: #6d6e6f;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.TopBarPageHeaderGlobalActions-savedSearchesContainer {
  /* outline: 1px solid green; */
  background: white;
  border-top: 1px solid #edeae9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-100%);
  transition: transform 0.15s ease-in-out;
}

.TopBarPageHeaderGlobalActions-savedSearchesItems {
  /* outline: 1px solid red; */
  height: var(--saved-searches-height);
  padding: 8px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.TopBarPageHeaderGlobalActions-savedSearchesItems:hover {
  background: #fafafa;
}

.TopBarPageHeaderGlobalActions-savedSearchesItems:last-child:hover {
  background: #fafafa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TopBarPageHeaderGlobalActions-savedSearchesItems > div:first-child {
  /* outline: 1px solid blue; */
  padding: 0 1px;
  display: flex;
  align-items: center;
}

.TopBarPageHeaderGlobalActions-savedSearchesItems > div:last-child {
  /* outline: 1px solid blue; */
  display: flex;
  align-items: center;
  padding: 0 1px;
}
