.ToggleCompletionDropdownButton {
  user-select: none;
  color: #6d6e6f;
  fill: #6d6e6f;
  background: white;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 6px;
  transition-duration: 0.2s;
  white-space: nowrap;
  transition-property: background, color, fill;
}

.ToggleCompletionDropdownButton.active {
  background: rgba(55, 23, 23, 0.05);
  color: #1e1f21;
  fill: #1e1f21;
}

.ToggleCompletionDropdownButton-hover:hover {
  background: rgba(55, 23, 23, 0.03);
  color: #1e1f21;
  fill: #1e1f21;
}

.ToggleCompletionDropdownButton-miniCheckIconContainer {
  display: flex;
  align-items: center;
}

.ToggleCompletionDropdownButton-miniCheckIcon {
  height: 12px;
  width: 12px;
}
