.topbar-container {
  min-height: 72px;
  min-width: 700px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.Topbar-borderOnly {
  border-top: 1px solid #edeae9;
  height: 0;
  width: 100%;
}
