.topbar-container {
  min-height: 72px;
  min-width: 700px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  position: relative;
}

.Bars3Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Avatar {
  background-color: #4ecbc4;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  min-width: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 12px;
}

.TopBarPageHeaderStructure-titleAndNavMenuRow {
  display: flex;
  flex-direction: column;
  height: 72px;
  width: 100%;
}

.TopBarPageHeaderStructure-title {
  margin-top: 8px;
  line-height: 28px;
}

.TopBarPageHeaderStructure-title h1 {
  font-size: 20px;
  font-weight: 400;
  width: fit-content;
  height: fit-content;
}

.TabNavigation-list {
  list-style-type: none;
  display: flex;
  height: 35px;
  align-items: center;
  color: #6d6e6f;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.TabNavigation-list li:not(:first-child) {
  margin-left: 24px;
}

.TabNavigationBar-tab {
  padding: 11px 0;
  cursor: pointer;
}

.TabNavigationBar-tab-active {
  box-shadow: inset 0 -2px #6d6e6f;
  color: #1e1f21;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.ShareButton {
  /* outline: 1px solid cyan; */
  border: 1px solid #cfcbcb;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 28px;
  border-radius: 6px;
  padding: 0 8px;
  color: #1e1f21;
  font-weight: 100;
  font-size: 14px;
}

.ShareButton div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShareButton p {
  padding-left: 2px;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.TopBarPageHeaderGlobalActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 32px;
}

.TopBarPageHeaderGlobalActions-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.TopBarPageHeaderGlobalActions-textInputBase {
  /* outline: 1px solid blue; */
  margin-left: 15px;
  width: 140px;
  border: 1px solid transparent;
  height: 32px;
  position: relative;
}

/* input bar */
.TopBarPageHeaderGlobalActions-inputContainer {
  /* outline: 1px solid green; */
  background: white;
  width: inherit;
  height: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: #cfcbcb;
  border-radius: 17px;
  position: absolute;
  right: -0.5px;
  top: -1px;
  display: flex;
  align-items: center;
  transition: width 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.TopBarPageHeaderGlobalActions-inputContainer input {
  height: inherit;
  width: 100%;
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.TopBarPageHeaderGlobalActions-input input::placeholder {
  font-size: 14px;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* Create new button */
.PlusCircleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.PlusCircleIcon-speechBubble {
  position: absolute;
  top: 42px;
  right: -27.5px;
  color: white;
  font-size: 12px;
  background-color: #2f2f32;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 90px;
  height: 35px;
}

.PlusCircleIcon-speechBubble:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom-color: #2f2f32;
  border-top: 0;
  margin-left: -13px;
  margin-top: -13px;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatar {
  background-color: #4ecbc4;
  color: #1e1f21;
  font-size: 12px;
  font-weight: 100;
  height: 28px;
  line-height: 28px;
  min-width: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.TopBarPageHeaderGlobalActions-speechBubble {
  position: absolute;
  top: 38px;
  left: -106px;
  color: white;
  font-size: 12px;
  background-color: #2f2f32;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  min-width: 150px;
  padding: 5px 10px;
  text-align: center;
}

.TopBarPageHeaderGlobalActions-speechBubble:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 80%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #2f2f32;
  border-top: 0;
  margin-left: -15px;
  margin-top: -15px;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

.Topbar-borderOnly {
  border-top: 1px solid #edeae9;
  display: flex;
  height: 0;
  width: 100vw;
}
