.AddTaskButton-container {
  height: 56px;
  display: flex;
  align-items: center;
}

.AddTaskButton-button {
  user-select: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  background-color: #4573d2;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 4px;
  border-radius: 6px 0 0 6px;
}

.AddTaskButton-button div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddTaskButton-arrowDown {
  position: relative;
  margin-left: 1px;
  background-color: #4573d2;
  height: 28px;
  line-height: 28px;
  padding: 0 4px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1e1f21;
}

.AddTaskButton-dropdown {
  position: absolute;
  top: 29px;
  left: 0;
  font-size: 14px;
  line-height: 22px;
  max-width: 500px;
  min-width: 185px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
  opacity: 0;
  pointer-events: none;
}

.AddTaskButton-dropdown.active {
  opacity: 1;
  pointer-events: auto;
  user-select: none;
}

.AddTaskButton-dropdown div {
  padding: 8px 16px;
  cursor: pointer;
}
