.TopBarPageHeaderGlobalActions-settingsMenuAvatar {
  background-color: #4ecbc4;
  position: relative;
  color: #1e1f21;
  font-size: 12px;
  font-weight: 100;
  height: 28px;
  line-height: 28px;
  min-width: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatarSpeechBubble {
  outline: 1px solid green;
  position: absolute;
  top: 38px;
  right: -3px;
  font-size: 14px;
  background-color: #2f2f32;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 8px 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatarSpeechBubble:after {
  content: '';
  position: absolute;
  top: 6px;
  right: 2px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #2f2f32;
  border-top: 0;
  margin-left: -15px;
  margin-top: -15px;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatarSpeechBubble div {
  line-height: 18px;
  width: max-content;
  max-width: 150px;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatarSpeechBubble div:first-child {
  color: #f5f4f3;
}

.TopBarPageHeaderGlobalActions-settingsMenuAvatarSpeechBubble div:last-child {
  color: #a2a0a2;
}
